<html>

<head>
    <title>Experiment suite</title>
    <link rel="stylesheet" href="style.css">
    <script src="/socketio/3.1.3/socket.io.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div class="flex-layout">
        <div class="container" id="side-panel-container">
            <h2>{{ scheme }}</h2>
            <form>
                <div class="input-box">
                    <input type="text" class="subject-id" id="subject-id" value="" required="">
                    <label>Subject Id</label>
                </div>
                <br>
            </form>
            <button class="start-btt" id="start-btt" onclick="{startSession()}">
            <span>Start session</span>
        </button>
            <br>
            <div id="term-notify">
                The session will run until all experiment scenario be completed. If you want to interrupt session, press Ctrl+X.
            </div>
        </div>
        <div id="presentation-container">
            <span id="status" class="status">Session will begin soon...</span>
            <div id="img-container">
                <img id="stimuli-placement"></img>
            </div>
        </div>
    </div>
    <script>
        getMeta();
        getWorkflowMeta();
        // startListening();
    </script>
</body>

</html>