* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #e2e2e2;
}

.flex-layout {
    display: flex;
    height: 100%;
}

#presentation-container {
    position: relative;
    display: block;
    height: 100%;
    flex-grow: 1;
}

h2 {
    padding: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #414141;
}

.container {
    position: relative;
    display: block;
    margin-bottom: 80px;
    width: 300px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.input-box {
    position: relative;
    margin-left: 20px;
}

.input-box input {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #858585;
    font-weight: lighter;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #858585;
    font-weight: lighter;
    pointer-events: none;
    transition: .5s;
}

.input-box input:active:focus~label,
.input-box input:valid~label,
.input-box input:hover~label {
    top: -20px;
    left: 0;
    color: #ff5722;
    font-size: 12px;
}

button {
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 250px;
    height: 60px;
    margin-top: -10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    background: #673ab7;
    margin-left: 20px;
    justify-content: center;
}

button span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .5s;
    transition: .5s;
}

#img-container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    justify-content: center;
}

#img-container img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.status {
    display: inline-block;
    position: inherit;
    top: 50%;
    left: 40%;
    z-index: 1;
    font-weight: lighter;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#term-notify {
    padding: 10px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #858585;
    font-weight: lighter;
    width: 250px;
    margin-left: 20px;
    margin-top: 40px;
}